html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    /* Ya lo tienes en la línea 23 */
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Evita scroll horizontal no deseado */
}

.container-fluid {
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}

main,
.container-fluid {
    /* Ajusta según que clase principal */
    flex: 1;
}



/* Clase para la animación de las redes sociales */
.social-icon-footer {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.social-icon-footer:hover {
    transform: translateY(-5px) scale(1.1);
    background-position: 1 !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    /* Se vuelve casi blanco sólido */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

/* Colores específicos al pasar el mouse (opcional para más detalle) */
.fb-hover:hover {
    color: #1877F2 !important;
}

.ig-hover:hover {
    color: #FF1493 !important;
}

.wa-hover:hover {
    color: #25D366 !important;
}